[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
requests = "*"
pymongo = "*"
bs4 = "*"
starlette = "*"
uvicorn = "*"
jinja2 = "*"
aiofiles = "*"
fake-useragent = "*"
qwikidata = "*"
httpx = "*"

[requires]
python_version = "3.8"
