{% extends "snooker.html" %}
{% block title %}ibustats{% endblock %}
{% block content %}
<div id="div-letters" class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    2000
                </button>
                <div class="dropdown-menu">
                    <h6 class="dropdown-header">decades:</h6>
                    <button class="dropdown-item" type="button">1920</button>
                    <button class="dropdown-item" type="button">1930</button>
                    <button class="dropdown-item" type="button">1940</button>
                    <button class="dropdown-item" type="button">1950</button>
                    <button class="dropdown-item" type="button">1960</button>
                    <button class="dropdown-item" type="button">1970</button>
                    <button class="dropdown-item" type="button">1980</button>
                    <button class="dropdown-item" type="button">1990</button>
                    <button class="dropdown-item" type="button">2000</button>
                    <button class="dropdown-item" type="button">2010</button>
                    <button class="dropdown-item" type="button">2020</button>
                </div>
            </div>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group" role="group" aria-label="First group">
                    <button type="button" class="btn btn-sm btn-primary">0</button>
                    <button type="button" class="btn btn-sm btn-primary">1</button>
                    <button type="button" class="btn btn-sm btn-primary">2</button>
                    <button type="button" class="btn btn-sm btn-primary">3</button>
                    <button type="button" class="btn btn-sm btn-primary">4</button>
                    <button type="button" class="btn btn-sm btn-primary">5</button>
                    <button type="button" class="btn btn-sm btn-primary">6</button>
                    <button type="button" class="btn btn-sm btn-primary">7</button>
                    <button type="button" class="btn btn-sm btn-primary">8</button>
                    <button type="button" class="btn btn-sm btn-primary">9</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id="birthdates"></div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', path='/js/Birthdates.js') }}"></script>
{% endblock %}