{% extends "snooker.html" %}
{% block title %}ibustats{% endblock %}
{% block content %}
<div id="div-letters" class="container-fluid">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <div class="my-1" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group" role="group" aria-label="Third group">
                    <button id="decade" type="button" class="btn btn-sm btn-outline-primary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        2000
                    </button>
                    <div class="dropdown-menu">
                        <h6 class="dropdown-header">decades:</h6>
                        <button class="dropdown-item" type="button">1920</button>
                        <button class="dropdown-item" type="button">1930</button>
                        <button class="dropdown-item" type="button">1940</button>
                        <button class="dropdown-item" type="button">1950</button>
                        <button class="dropdown-item" type="button">1960</button>
                        <button class="dropdown-item" type="button">1970</button>
                        <button class="dropdown-item" type="button">1980</button>
                        <button class="dropdown-item" type="button">1990</button>
                        <button class="dropdown-item" type="button">2000</button>
                        <button class="dropdown-item" type="button">2010</button>
                        <button class="dropdown-item" type="button">2020</button>
                    </div>
                </div>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
  <input type="radio" class="btn-check invisible" name="btnradio" id="btnradio1" autocomplete="off" checked>
  <label class="btn btn-outline-primary" for="btnradio1">Radio 1</label>

  <input type="radio" class="btn-check invisible" name="btnradio" id="btnradio2" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio2">Radio 2</label>

  <input type="radio" class="btn-check invisible" name="btnradio" id="btnradio3" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio3">Radio 3</label>
</div>
                <div id="years" class="btn-group" role="group" aria-label="First group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio0" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="btnradio0">0</label>
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">1</label>
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">2</label>
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio3">3</label>
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio4">4</label>
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio5">5</label>
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio6" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio6">6</label>
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio7" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio7">7</label>
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio8" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio8">8</label>
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio9" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio9">9</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id="birthdates"></div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', path='/js/Birthdates.js') }}"></script>
{% endblock %}
