{% extends "app.html" %}
{% block content %}
  <script>
  async function updateFeeds() {
    let response = await fetch('/feeds/update');
    let commits = await response.json();
    document.querySelectorAll('div.card').forEach(div => {
      if (div.classList.contains('bg-success')) {
        div.classList.remove('bg-success');
        div.classList.remove('text-white');
      }
    });
    commits.ids.forEach(id => {
      var match = document.getElementById(id);
      match.classList.add('bg-success');
      match.classList.add('text-white');
    });
    commits.ids.forEach(async id => {
      let res = await fetch(`/feeds/${id}`);
      let feed = await res.json();
      let la = document.getElementById(`la-${id}`);
      la.textContent = feed['last_access'];
      let na = document.getElementById(`na-${id}`);
      na.textContent = feed['next_access'];
      let ttl = document.getElementById(`ttl-${id}`);
      ttl.textContent = toString(feed['ttl']);
    });
  }
  let timerId = setInterval(updateFeeds, 60000);
    
  function toString(sec) {
    let measuredTime = new Date(null);
    measuredTime.setSeconds(sec);
    return measuredTime.toISOString().substr(11, 8);
  }
</script>
  {% for feed in feeds %}
    <div id='{{ feed['_id'] }}' class='card card-dark border-dark m-3'>
      <div class='card-header'>
        {{ feed['title'] }}
      </div>
      <div class='card-body'>
        <div class='card-text'>
          {{ feed['description'] }}
        </div>
      </div>
      <div class='card-body'>
        <div class="alert alert-info" role="alert">
        <div class='card-text'>
          <small>
            last_access: <span id='la-{{ feed['_id'] }}'>{{ feed['last_access'] }}</span>
          </small>
        </div>
        <div class='card-text'>
          <small>
            next_access: <span id='na-{{ feed['_id'] }}'>{{ feed['next_access'] }}</span>
          </small>
        </div>
        <div class='card-text'>
          <small>
            ttl: <span id='ttl-{{ feed['_id'] }}'>{{ feed['ttl'] }}</span>
          </small>
        </div>
        </div>
      </div>
      <div class='card-body'>
        <div class='btn-group' role='group'>
          <a class='btn btn-outline-secondary active' href='{{ feed['link'] }}'>Читать</a>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
