{% extends "app.html" %}
{% block content %}
  <script>
  async function updateFeeds() {
    let response = await fetch('/feeds/update');
    let commits = await response.json();
    console.log(commits);
    alert(commits);
  }
  let timerId = setInterval(updateFeeds, 60000);
</script>
  {% for feed in feeds %}
    <div id='{{ feed['_id'] }}' class='card card-dark border-dark'>
      <div class='card-header'>
        {{ feed['title'] }}
      </div>
      <div class='card-body'>
        <div class='card-text'>
          {{ feed['description'] }}
        </div>
        <div class='card-text'>
          <small>
            {{ feed['last_access'] }} -  {{ feed['ttl'] }}
          </small>
        </div>
        <div class='card-text'>
          <small>
            {{ feed['next_access'] }}
          </small>
        </div>
        <div class='btn-group' role='group'>
          <a class='btn btn-outline-secondary active' href='{{ feed['link'] }}'>Читать</a>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
