{% extends "app.html" %}
{% block content %}
  {% for article in articles %}
    <div class='card card-dark border-dark'>
      <div class='card-header'>
        {{ article['published'] }}
      </div>
      <div class='card-body'>
        <div class='card-text'>
          {{ article['title'] }}
        </div>
        <div class='btn-group' role='group'>
          <a class='btn btn-outline-secondary active' href='{{ article['link'] }}'>Читать</a>
          <a class='btn btn-outline-secondary' href='{{ article['thread'] }}'>
            Комментировать
            <span class='badge badge-light'>{{ article['comments'] }}</span>
          </a>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
