{% extends "snooker.html" %}
{% block title %}ibustats{% endblock %}
{% block content %}
<form>
  <div class="form-group">
    <label for="firstNameInput">first name</label>
    <input type="text" class="form-control" id="firstNameInput" placeholder="first name">
  </div>
  <div class="form-group">
    <label for="middleNameInput">middle name</label>
    <input type="text" class="form-control" id="middleNameInput" placeholder="middle name">
  </div>
  <div class="form-group">
    <label for="lastNameInput">last name</label>
    <input type="text" class="form-control" id="lastNameInput" placeholder="last name">
  </div>
  <button type="submit" class="btn btn-primary">add</button>
</form>
<button type="button" class="btn btn-outline-primary btn-block">add</button>
{% endblock %}
