{% extends "app.html" %}
{% block content %}
<table id='letters' class='table table-sm'>
    <thead>
        <tr>
            {% for letter in letters %}
            <td>{{ letter._id }} - {{ letter.count }}</td>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for letter in letters %}
            <td>{{ letter.count }}</td>
            {% endfor %}
        </tr>
    </tbody>
</table>
{% for user in users %}
<div class='card carf-dark border-dark'>
    <div class='card-header'>
        {{ user.name }}
    </div>
    <div class='card-body'>
        <div class='card-text'>

        </div>
    </div>
</div>
{% endfor %}
{% endblock %}