{% extends "app.html" %}
{% block title %}News :: Users{% endblock %}
{% block content %}
<table id='letters' class='table table-sm small p-0 m-0'>
    <thead>
        <tr>
            {% for letter in letters %}
            <td>{{ letter._id }}</td>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for count in counts %}
            <td>{{ count.count }}</td>
            {% endfor %}
        </tr>
    </tbody>
</table>
{% for user in users %}
<div class='card card-dark border-dark'>
    <div class='card-header'>
        {{ user.name }}
    </div>
    <div class='card-body'>
        <div class='card-text'>

        </div>
    </div>
    <div class='card-footer'>
        <div class='btn-group' role='group'>
            <a class='btn btn-outline-secondary active'
                href={{ "https://talks.by/member.php?u={}".format(user['u']) }}>Профиль</a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}