<!doctype html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" 
        integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">

  <title>xmlEditor - {{ feed['title'] }}</title>
  <meta name="description" content="xmlEditor">
  <meta name="author" content="Micah Teeuws">
</head>

<body>
  <div id="messages" class="container-fluid">
  </div>
  <div id="content" class="container-fluid" data-feed-id="{{ feed['_id'] }}" data-feed-title="{{ feed['title'] }}">
    <div id="parent-node" class="mb-1">

    </div>
    <div id="current-node" class="card text-white fw-bold bg-primary">
      <div class="card-body">
        <p id="current-name" class="card-text"></p>
      </div>
    </div>
    <div id="child-nodes" class="mt-2">
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <!-- JavaScript Bundle with Popper.js -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js" 
          integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD" 
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuidv4.min.js"
    integrity="sha512-BCMqEPl2dokU3T/EFba7jrfL4FxgY6ryUh4rRC9feZw4yWUslZ3Uf/lPZ5/5UlEjn4prlQTRfIPYQkDrLCZJXA=="
    crossorigin="anonymous"></script>
  <script src="{{ url_for('static', path='/js/xml-editor.js') }}"></script>
</body>

</html>
